---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.categories %}
<small>categories:
{%- for categories in page.categories -%}
  {% if categories.last %}
    <em><a href="{{ categories | prepend: 'categories/' | relative_url }}">{{ categories }}</a></em>
  {% else %}
    <em><a href="{{ categories | prepend: 'categories/' | relative_url }}">{{ categories }}</a></em> -
  {% endif %}
{% endfor %}
{% endif %}
</small>

{% if page.categories %}
<small>categories:
{%- for categories in page.categories -%}
  <em><a href="{{ categories | prepend: 'categories/' | relative_url }}">{{ categories }}</a></em> -
{% endfor %}
{% endif %}
</small>

<p></p>

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
